appnope==0.1.0
arrow==0.13.1
asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==18.2.0
Automat==0.7.0
backcall==0.1.0
betamax==0.8.1
certifi==2019.3.9
cffi==1.12.0
chardet==3.0.4
Click==7.0
constantly==15.1.0
coverage==4.5.3
cryptography==2.5
cssselect==1.0.3
decorator==4.4.0
dynaconf==1.2.0
EditorConfig==0.12.2
greenlet==0.4.15
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
ipython==7.4.0
ipython-genutils==0.2.0
jedi==0.13.3
lxml==4.3.1
more-itertools==7.0.0
packaging==19.0
parsel==1.5.1
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==9.3.0
pluggy==0.9.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
py==1.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycparser==2.19
pydantic==0.23
PyDispatcher==2.0.5
Pygments==2.3.1
PyHamcrest==1.9.0
pymongo==3.8.0
pyOpenSSL==19.0.0
pyparsing==2.4.0
PySnooper==0.0.39
pytest==4.4.0
pytest-cov==2.6.1
pytest-env==0.6.2
pytest-sugar==0.9.2
pytest-twisted==1.10
python-box==3.2.4
python-dateutil==2.8.0
python-dotenv==0.10.1
PyYAML==3.13
queuelib==1.5.0
redis==3.2.1
requests==2.21.0
Scrapy==1.6.0
sentry-sdk==0.7.12
service-identity==18.1.0
six==1.12.0
termcolor==1.1.0
toml==0.10.0
traitlets==4.3.2
Twisted==18.9.0
txmongo==19.1.0
Unidecode==1.0.23
urllib3==1.24.2
w3lib==1.20.0
wcwidth==0.1.7
zope.interface==4.6.0
